.contact-page {
  text-align: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin: 10px 0;
}

form input,
form textarea {
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
  width: 300px;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}
