.menu-page {
  text-align: center;
  padding: 20px;
}

.food-list {
  list-style-type: none;
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
}

.food-item {
  background-color: #e6d2d2;
  margin: 15px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 20px;
}

.food-item-left {
  flex-shrink: 0;
}

.food-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.food-item-middle {
  flex: 1;
  text-align: left;
}

.food-item-middle h3 {
  font-size: 20px;
  margin: 0 0 8px 0;
}

.food-item-middle p {
  font-size: 14px;
  margin: 5px 0;
  color: #666;
}

.food-item-right {
  flex-shrink: 0;
  text-align: right;
}

.food-item-right .price {
  font-size: 18px;
  margin: 0;
  color: #27ae60;
}


.order-btn {
  background-color: #d15a2f;
  color: rgb(243, 233, 233);
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.order-btn:hover {
  background-color: #ffb199;
}
