.menu-page {
  text-align: center;
  padding: 20px;
}

.food-list {
  list-style-type: none;
  padding: 0;
}

.food-item {
  background-color: #f9f9f9;
  margin: 15px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.food-item h3 {
  font-size: 22px;
  margin: 0;
}

.food-item p {
  font-size: 16px;
}
