.navbar {
  background-color: #333;
  padding: 15px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  
}

.navbar nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar nav ul li {
  display: inline;
  margin-right: 20px;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar nav ul li a:hover {
  text-decoration: underline;
}

